.box{
    margin: 0 auto;
    position: relative;
    background: cornflowerblue;
    background-size: cover;
    width: 702px;
    height: 378px;
}

.box div{
    float: left;
    width: 50px;
    height: 50px;
    border: 1px solid tan;
    margin-left: 5px;
    line-height: 50px;
    text-align: center;
    color: tomato;
    position: relative;
    top: 328px;
    left: 350px;
}

